html {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always; 
    scroll-behavior: smooth;  
    font-family: 'Sarabun', sans-serif;
    font-size: calc(.2vw + .5vh + .3vmin);
    font-weight: bolder;
    background-size:100% 100%;
    background-image: url("source/New Folder/Queen.jpg") ;
    background-repeat: no-repeat;
    width: 100vw;
}

body {

display: flex;
flex-direction: column;
margin: 0px;
height: 100vh;
justify-content: space-evenly;
align-items: center;
font-weight: inherit;
}

a {
    text-decoration: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit
}


::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: rgb(129 52 163);
  }


  ::-webkit-scrollbar-thumb:hover {
    background:  rgb(68, 10, 94);
  }

 
  button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border:none;
    font-size: 1em;
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
    
}

button:hover,
button:focus {
    color: rgb(129 52 163);
    transform:translateY(1px);
    cursor: pointer;

}

.navbar {
    background-color: rgb(255, 255, 255);
    height:3em;
    position: sticky;
    margin-top: 1em;
    top: 0;
    color: rgb(129 52 163);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 3%;
    box-shadow: 1px 1px 5px 5px  white;
    z-index: 2;
    width: 94%;
}

.logo {
    font-size: 1.6em;
    font-weight: bolder;
    font-family: inherit;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 45%;
    max-width: 40em;
    font-size: 1.2em;
}

.NFT_page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 70%;
    max-width: 70em;
}

.container {
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: color-dodge;
    backdrop-filter: blur(25px);
    padding: 1.4em;
    border-radius: 3em;
    box-shadow: 2px 2px 25px 20px outset rgb(0, 0, 0);
    border: 2px solid rgb(61, 60, 60);
    font-size: 1.3em;
    text-align: center;
}