html {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always; 
    scroll-behavior: smooth;  
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    width:100%;
    font-weight: bolder;
    background-color: black;
}

a {
    text-decoration: inherit;
    color: inherit;
}


::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: rgb(129 52 163);
  }


  ::-webkit-scrollbar-thumb:hover {
    background:  rgb(68, 10, 94);
  }

 
button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border:none;
    font-size: 1em;
    
}

button:hover,
button:focus {
    color: rgb(129 52 163);
    transform:translateY(1px);

}

.navbar {
    background-color: rgb(255, 255, 255);
    height:3em;
    position: sticky;
    margin-top: 1em;
    top: 0;
    color: rgb(129 52 163);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 3%;
    box-shadow: 1px 1px 5px 5px  white;
    z-index: 2;
    width: 94%;
}

.logo {
    font-size: 1.2em;
    font-weight: bolder;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 45%;
    max-width: 40em;
}

.home_page {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("source/New Folder/King.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;

}

.knights {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    z-index: 2; 

}
.knight_left {
    height: 12em;
    width: auto;
}

.knight_right {
    height: 12em;
    width: auto;
}

.about {
    height: 100vh;
    display: flex;
    align-items: center;
    font-weight: bold;
    scroll-snap-align: center;
    width: 80%;
    max-width: 80em;
}


.container {
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: color-dodge;
    backdrop-filter: blur(25px);
    width: 100%;
    padding: 1.4em;
    border-radius: 3em;
    box-shadow: 2px 2px 25px 20px outset rgb(0, 0, 0);
    border: 2px solid rgb(61, 60, 60);
    font-size: 1.1em;
    text-align: center;
}

.pre_register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: center;
    width: 80%;
    max-width: 80em;
}

.signup_top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
}

.signup_bot {
    width: 80%;
}

.next_steps {
    width: 1fr;
    text-align: center;
    border-right: 2px black solid;
    padding-right: 1em;
}

.open_comp {
    grid-column: span 2;
    text-align: center;
}

.email_input {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 10px 10px;
    
}


.containers {
    border-radius: 3em;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    background-blend-mode: color-dodge;
    box-shadow: 2px 2px 25px 20px outset rgb(0, 0, 0);
    border: 2px solid rgb(61, 60, 60);
    padding: 1em;
    margin-bottom: 10%;
    text-align: center;

}

